h1 {
    text-align: center;
    margin: 20px;
}

table {
    width: 80%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}

/* 버튼 스타일 */
.btn-approve {
    background-color: #27ae60; /* 초록 */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.btn-reject {
    background-color: #c0392b; /* 빨강 */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
