<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>

    <!-- login form -->
    <form action="../controller/login.php" method="POST">
        <!-- 학번 입력 필드 -->
        <label for="student_id">학번: </label>
        <input type="text" id="student_id" name="student_id" required>
        <br>

        <!-- 비밀번호 입력 필드 -->
        <label for="password">비밀번호: </label>
        <input type="password" id="password" name="password" required>
        <br>

        <!-- 로그인 버튼 -->
        <button type="submit">로그인</button>
    </form>

    <!-- 회원가입 및 메인 페이지로 이동하는 링크 -->
    <br>
    <a href="../view/register_form.html">회원가입</a>
    <br>
    <a href="index.php">메인 페이지로 돌아가기</a>
</body>
</html>